@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  font-family 'Roboto', Helvetica, arial, sans-serif
  .cin
    padding 0px 10px 0px 30px
    float left
    width 100%
    margin-bottom 60px
    .bars
      height 40px
      float left
      width 100%
      .bar
        float left
        height 100%
        position relative
        &:first-of-type
          border-top-left-radius 4px
          border-bottom-left-radius 4px
        &:last-of-type
          border-top-right-radius 4px
          border-bottom-right-radius 4px
        &.recidivistePrc
          background #ab0000
        &.nerecidivistePrc
          background #a
        &.zbran-strelnaPrc
          background #377eb8
        &.vybusninaPrc
          background #984ea3
        &.chladnaPrc
          background #ff7f00
        &.zbran-vyhruzkaPrc
          background #4daf4a
        &.zbran-jinaPrc
          background #9
        &.zbran-jiny-predmetPrc
          background #6
        .label
          position absolute
          width 100%
          height 7px
          bottom -12px
          padding 0px 4px
          .border
            width 100%
            height @height
            border 1px dotted #a
            border-top 0px none
          .content
            position absolute
            left 50%
            transform translate(-50%, 0)
            text-align center
            white-space pre
        &.zbran-aPrc
        &.zbran-bPrc
        &.zbran-cPrc
        &.zbran-dPrc
        &.zbran-strelna-jinaPrc
          .label
            display none
        &.vybusninaPrc
          .label
            top -12px
            .border
              border-top 1px dotted #a
              border-bottom 0px none
            .content
              position absolute
              bottom 12px
        &.zbran-vyhruzkaPrc
          .content
            position absolute
            left auto
            transform none
            right 0px
            width auto
            text-align right !important
    &.zbrane
      margin-bottom 100px
      h2
        margin-bottom 60px
      &:nth-of-type(1)
        .zbran-strelnaPrc
          .content
            margin-left -10px
        .chladnaPrc
          .content
            margin-left -20px
        .zbran-jinaPrc
          .content
            margin-left 20px
      &:nth-of-type(2) .zbran-jinaPrc
      &:nth-of-type(5) .zbran-strelnaPrc
        .label
          top -12px
          .border
            border-top 1px dotted #a
            border-bottom 0px none
          .content
            position absolute
            bottom 12px
      &:nth-of-type(5) .zbran-strelnaPrc
        .label
          margin-left 10px
      &:nth-of-type(3)
        .chladnaPrc
          .content
            margin-left -20px
        .zbran-jinaPrc
          .content
            margin-left 20px

      &:nth-of-type(4)
        .zbran-jinaPrc
          .content
            margin-left -28px
        .zbran-jiny-predmetPrc
          .content
            margin-left 40px

      &:nth-of-type(5)
        .chladnaPrc
          .content
            margin-left -15px
        .zbran-jinaPrc
          .content
            margin-left 15px

      &:nth-of-type(6)
        .chladnaPrc
          .content
            margin-left -15px
        .zbran-jinaPrc
          .content
            margin-left 35px
